<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="app">
    <!--1. checkboox单选框-->
    <label for="agree">
      <input type="checkbox" id="agree" v-model="isAgree">同意协议
    </label>
    <h2>你选择的是：{{isAgree}}</h2>
    <button :disabled="!isAgree">下一步</button>
    <br>
    <label for="interest1">
      <input type="checkbox" id="interest1" value="篮球" v-model="hobbies">篮球
    </label>
    <label>
      <input type="checkbox" value="足球" v-model="hobbies">足球
    </label>

      <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
      <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
      <input type="checkbox" value="冰球" v-model="hobbies">冰球
      <input type="checkbox" value="棒球" v-model="hobbies">棒球
    <h2>您的爱好是：{{hobbies}}</h2>
    <label v-for="item in originHobbies">
      <input type="checkbox" :value="item" v-model="hobbies">{{item}}
    </label>
  </div>
  <script src="../../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message:'你好',
        isAgree:false,
        hobbies:[],
        originHobbies:["篮球", "足球", "乒乓球", "羽毛球", "冰球", "棒球"]
      },

      })
  </script>
</body>
</html>