<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--手机端可以放大-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- 父组件模板 -->
  <div id="app">
    <h2>我是Vue组件</h2>
    <h2>------------</h2>
    <cpn></cpn>
    <!--目的是获取子组件中的pLanguages-->
    <cpn>
      <template v-slot="slot">
        <span v-for="item in slot.data">{{item}} - </span>
      </template>
    </cpn>
    <cpn>
      <template v-slot="slot">
        <!--<span v-for="item in slot.data">{{item}} * </span>-->
        <span>{{slot.data.join(' - ')}}</span>
      </template>
    </cpn>
    <cpn>
      <template v-slot="slot">
        <!--<span v-for="item in slot.data">{{item}} * </span>-->
        <span>{{slot.data.join(' * ')}}</span>
      </template>
    </cpn>

  </div>
  <!-- 子组件模板 -->
  <template id="cpn">
    <div>
      <h3>我是组件</h3>
      <slot :data="pLanguages">
        <ul>
          <li v-for="item in pLanguages">{{item}}</li>
        </ul>
      </slot>
     </div>
  </template>
  <script src="../../js/vue.js"></script>
  <script>

    // 父组件
    const app = new Vue({
      el: '#app',
      data: {
        message:'vue'
      },
      components: {
        cpn: {
          template:'#cpn',
          data() {
            return {
              pLanguages: ['JavaSpcript', 'C++', 'C#', 'Python', 'Go']
            }
          }
        }
      },

    })
  </script>
</body>
</html>